useDynLib(gRbase)

importFrom(Rcpp, evalCpp)

exportPattern("^[[:alpha:]]+")

importFrom(methods, setOldClass) # because of setOldClass("igraph")

importClassesFrom(Matrix, Matrix)
importMethodsFrom(Matrix, t, isSymmetric)
importFrom(Matrix, Matrix)

importFrom(RBGL, maxClique, is.triangulated, separates)

importFrom(igraph, plot.igraph, print.igraph)

importFrom(graph, edges, nodes)
importMethodsFrom(graph, plot)

