useDynLib(gRbase)

importFrom(RBGL, maxClique, is.triangulated, separates)

importClassesFrom("Matrix", Matrix)

importMethodsFrom("Matrix", t, isSymmetric)

export(maxClique)

exportPattern("^[[:alpha:]]+")


