useDynLib(gRbase)
exportPattern("^[[:alpha:]]+")

importClassesFrom("Matrix",
                  Matrix)
importMethodsFrom("Matrix",
                  t, isSymmetric)

##importFrom(fastmatch, fmatch)


